<h2>The Teaching Channel</h2>
<br/>
<p>The teaching channel is a website dedicated to providing high quality resources and games for teachers and professionals to use to educate. Users will be able to upload, sell and buy resources. Blah de blah more stuff here that explains stuff, maybe a picture or two.</p>
<br/>

<div>
	<h3>MAIN SECTIONS/FUNCTIONS</h3>
	<br/>
	<ul>
		<li><%= link_to "Resources Marketplace", resource_marketplace_path %></li>
		<li>Teacher's Forum</li>
		<li>How to articles</li>
		<li>Online Educational Games</li>
	</ul>
</div>

<br/>